#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&mt LEFT_COMMAND LEFT_BRACKET  &kp Q  &kp W  &kp F      &kp P                 &kp G        &kp J         &kp L                      &kp U         &kp Y    &kp SEMI  &mt RIGHT_COMMAND RIGHT_BRACKET
&mt LCTRL GRAVE                &kp A  &kp R  &kp S      &kp T                 &kp D        &kp H         &kp N                      &kp E         &kp I    &kp O     &mt RCTRL APOSTROPHE
&mt LEFT_ALT MINUS             &kp Z  &kp X  &kp C      &kp V                 &kp B        &kp K         &kp M                      &kp COMMA     &kp DOT  &kp FSLH  &mt RIGHT_ALT EQUAL
                                             &lt 0 TAB  &mt LEFT_SHIFT SPACE  &lt 0 ENTER  &lt 0 ESCAPE  &mt RIGHT_SHIFT BACKSPACE  &lt 0 DELETE
            >;
        };
    };
};
