#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        bootloader {
            bindings = <&bootloader>;
            key-positions = <0 5 24 38>;
        };

        clear_bt {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <12 5 38>;
        };
    };

    macros {
        center: center {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk GLOBE &kp LC(C)>;
            label = "CENTER";
        };

        full: full {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk GLOBE &kp LC(F)>;
            label = "FULL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&mt LEFT_COMMAND LEFT_BRACKET  &kp Q  &kp W  &kp F      &kp P                 &kp G        &kp J         &kp L                      &kp U         &kp Y    &kp SEMI  &mt RIGHT_COMMAND RIGHT_BRACKET
&mt LCTRL GRAVE                &kp A  &kp R  &kp S      &kp T                 &kp D        &kp H         &kp N                      &kp E         &kp I    &kp O     &mt RCTRL APOSTROPHE
&mt LEFT_ALT MINUS             &kp Z  &kp X  &kp C      &kp V                 &kp B        &kp K         &kp M                      &kp COMMA     &kp DOT  &kp FSLH  &mt RIGHT_ALT EQUAL
                                             &lt 2 TAB  &mt LEFT_SHIFT SPACE  &lt 1 ENTER  &lt 1 ESCAPE  &mt RIGHT_SHIFT BACKSPACE  &lt 2 DELETE
            >;
        };

        numbers {
            bindings = <
&kp LEFT_PARENTHESIS  &none   &kp N7  &kp N8  &kp N9  &none       &none   &kp AMPERSAND    &kp ASTERISK  &kp LEFT_PARENTHESIS  &none          &kp RIGHT_PARENTHESIS
&none                 &none   &kp N4  &kp N5  &kp N6  &none       &none   &kp DOLLAR       &kp PERCENT   &kp CARET             &none          &none
&none                 &kp N0  &kp N1  &kp N2  &kp N3  &kp PERIOD  &none   &kp EXCLAMATION  &kp AT_SIGN   &kp POUND             &kp BACKSLASH  &none
                                      &trans  &trans  &trans      &trans  &trans           &trans
            >;
        };

        nav {
            bindings = <
&none  &none  &kp LC(LS(TAB))  &full    &kp LC(TAB)  &kp LG(EQUAL)  &none   &kp PAGE_UP  &kp UP_ARROW  &kp PAGE_DOWN  &none  &none
&none  &none  &none            &center  &none        &kp LG(MINUS)  &none   &kp LEFT     &kp DOWN      &kp UP         &none  &none
&none  &none  &none            &none    &none        &none          &none   &none        &none         &none          &none  &none
                               &trans   &trans       &trans         &trans  &trans       &trans
            >;
        };
    };
};
