#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        bootloader {
            bindings = <&bootloader>;
            key-positions = <0 5 24 38>;
        };

        clear_bt {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <12 5 38>;
        };
    };

    macros {
        center: center {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk GLOBE &kp LC(C)>;
            label = "CENTER";
        };

        full: full {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk GLOBE &kp LC(F)>;
            label = "FULL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &kp Q               &kp W           &kp F                 &kp P             &kp G      &kp J       &kp L              &kp U                     &kp Y           &kp SEMI             &none
&none  &mt LEFT_CONTROL A  &mt LEFT_ALT R  &mt S LEFT_COMMAND    &mt LEFT_SHIFT T  &kp D      &kp H       &mt RIGHT_SHIFT N  &mt RIGHT_COMMAND E       &mt LEFT_ALT I  &mt RIGHT_CONTROL O  &none
&none  &kp Z               &kp X           &kp C                 &kp V             &kp B      &kp K       &kp M              &kp COMMA                 &kp DOT         &kp FSLH             &none
                                           &mt LEFT_COMMAND TAB  &kp SPACE         &kp ENTER  &kp ESCAPE  &kp BACKSPACE      &mt RIGHT_COMMAND DELETE
            >;
        };
    };
};
